iframe {
	border: 10px solid red;
	border-radius: 4px;
	height:75vh;
	overflow: hidden;
}

.content {
	margin:0px;
	padding: 5px;

}

#context-bar {
	display: none;
}

.red {
	border-color: 1px solid #aa0000;
}